{
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["@prettier/plugin-php"],
  "overrides": [
    {
      "files": "*.blade.php",
      "options": {
        "parser": "blade"
      }
    },
    {
      "files": "*.php",
      "options": {
        "parser": "php"
      }
    }
  ]
}
